<div class="container">
  <h2>Edit Project</h2>

  <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
    <div class="form-group mt-3">
      <label for="name">Project Name</label>
      <input id="name" class="form-control" formControlName="name" />
    </div>

    <div class="form-group mt-3">
      <label for="description">Description</label>
      <textarea id="description" class="form-control" formControlName="description"></textarea>
    </div>

    <div class="form-group mt-3">
      <label for="startDate">Start Date</label>
      <input type="date" id="startDate" class="form-control" formControlName="startDate" />
    </div>

    <div class="form-group mt-3">
      <label for="endDate">End Date</label>
      <input type="date" id="endDate" class="form-control" formControlName="endDate" />
    </div>

<!--    <div class="form-group">-->
<!--      <label for="status">Status</label>-->
<!--      <select id="status" class="form-control" formControlName="status">-->
<!--        <option *ngFor="let status of statusOptions" [value]="status">-->
<!--          {{ status }}-->
<!--        </option>-->
<!--      </select>-->
<!--    </div>-->

    <div class="form-group mt-3">
      <div class="btn-group" role="group" aria-label="status button group">
        <input type="radio" class="btn-check" name="status" id="btnRadioToDo" formControlName="status" [value]="'To Do'" [checked]="projectForm.get('status')?.value === 'To Do'">
        <label class="btn btn-outline-primary"
               [ngClass]="{'btn-to-do': projectForm.get('status')?.value === 'To Do', 'btn-default': projectForm.get('status')?.value !== 'To Do'}"
               for="btnRadioToDo">
          To Do
        </label>

        <input type="radio" class="btn-check" name="status" id="btnRadioInProgress" formControlName="status" [value]="'In Progress'" [checked]="projectForm.get('status')?.value === 'In Progress'">
        <label class="btn btn-outline-primary"
               [ngClass]="{'btn-in-progress': projectForm.get('status')?.value === 'In Progress', 'btn-default': projectForm.get('status')?.value !== 'In Progress'}"
               for="btnRadioInProgress">
          In Progress
        </label>

        <input type="radio" class="btn-check" name="status" id="btnRadioDone" formControlName="status" [value]="'Done'" [checked]="projectForm.get('status')?.value === 'Done'">
        <label class="btn btn-outline-primary"
               [ngClass]="{'btn-done': projectForm.get('status')?.value === 'Done', 'btn-default': projectForm.get('status')?.value !== 'Done'}"
               for="btnRadioDone">
          Done
        </label>
      </div>
    </div>


    <button type="submit" class="btn btn-primary mt-3" [disabled]="projectForm.invalid">Save Changes</button>
  </form>
</div>
